.aside__mobile {
  display: flex;
  justify-content: space-between;
}

.aside__tabs-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: $text-lightgrey;
  width: 50%;
}

.aside__tabs-item.tab--active {
  font-weight: bold;
  color: $main-text;
}

.aside__tabs-item.tab--active span {
  display: inline-block;
  border-bottom: 2px solid $blue;
  padding-bottom: 7px;
}

.aside__item {
  margin: 20px 0;
}

.aside__item-title {
  position: relative;
  cursor: pointer;

  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding-left: 26px;
}

.aside__item-title::before {
  content: '';
  position: absolute;
  background-image: url('../img/icon-arrow-down.svg');
  left: 0;
  bottom: 5px;
  width: 12px;
  height: 8px;
  transform: rotate(0deg);
}

.aside__item-title--active::before {
  transform: rotate(180deg);
}

.aside__item-content {
  display: flex;
  flex-wrap: wrap;

  margin-top: 20px;
}

.aside__item-box {
  width: 50%;
  margin-bottom: 20px;
}

.aside__item-label {
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}

.aside__item-content.aside__item-content--radio {
  flex-wrap: nowrap;
}

.aside__item-content--radio .aside__item-box{
  margin-right: 18px;
  width: auto;
}

.aside__select {
  margin: 50px 0 40px;
}

.aside__item-more {
  width: 100%;
}

.aside__more-btn {
  font-size: 14px;
  line-height: 17px;
  color: $blue;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  border-bottom: 1px solid $blue;
  padding: 0;
}

.aside__item-search {
  width: 100%;
  border: 1px solid $border-input;
  height: 30px;
  padding: 7px 20px;
  margin-bottom: 20px;
}

.aside__item-search::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: $text-placeholder;
}

.aside__item-offers .aside__item-content {
  flex-wrap: nowrap;
  justify-content: space-between;
}

.aside__item-offers .aside__item-box {
  width: auto;
}

.aside__item-offers .aside__item-label {
  position: relative;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.07em;
  font-weight: bold;
  color: $text-lightgrey;
}

.aside__item-offers .jq-checkbox {
  background: $bg-grey;
  height: 25px;
  width: 63px;
  border: none;
  border-radius: 0;
}

.aside__item-offers .jq-checkbox.checked {
  background: $blue;
  color: $white;
}

.aside__item-offers .jq-checkbox.checked .jq-checkbox__div {
  display: none;
}

.aside__item-offers .jq-checkbox.checked ~ .aside__offer-text {
  color: $white;
}

.aside__offer-text {
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-57%);
  z-index: 5;
}

.aside__btn__send {
  padding: 16px 85px;
  background: $bg-grey;

  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: $text-placeholder;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
}

.aside__btn__send--active {
  background: $blue;
  color: $white;
}

.aside__item-btn {
  text-align: center;
}

.aside__extra {
  width: 195px;
  position: relative;
  font-size: 13px;
  line-height: 16px;

  display: inline-block;
}

.aside__extra::after {
  content: '';
  position: absolute;
  right: -15px;
  top: 4px;
  background-image: url('../img/icon-arrow-down.svg');
  width: 12px;
  height: 8px;
}

.aside__extra-content {
  display: none;
}

.aside__extra.aside__item-title--active::after {
  transform: rotate(180deg);
}

.aside__item-title--active::after {
  transform: rotate(180deg);
}

.aside__btn-reset {
  background: transparent;
  display: inline-block;
  padding: 0;
  margin-bottom: 15px;
  margin-top: 15px;
  border: none;
  line-height: 16px;
  font-size: 13px;
  border-bottom: 1px solid $text-lightgrey;
  color: $text-lightgrey;
}

@media (max-width: $width-mobile) {
  .aside {
    display: none;
  }
}
