.banner {
  margin-bottom: 80px;
}

@media (max-width: $width-breakpoint-200) {
  .banner__link img {
    width: 100%;
    object-fit: cover;
  }

  .banner__link {
    width: 100%;
  }
}

@media (max-width: $width-mobile) {
  .banner__link {
    width: 100%;
  }
}
