.banner-section__inner {
  display: flex;
  justify-content: space-between;
}

.banner-section__slider {
  max-width: 870px;
}

.banner-section__slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 5;
  cursor: pointer;
}

.banner-section__slider-btnprev {
  left: 20px;
}

.banner-section__slider-btnnext {
  right: 20px;
}

.banner-section__slider-img {
  object-fit: cover;
  min-height: 400px;
}

@media (max-width: $width-breakpoint-200) {
  .banner-section__slider-img {
    min-height: 380px;
    max-width: 650px;
  }

  .banner-section__slider {
    max-width: 650px;
  }
}

@media (max-width: $tablet-width) {
  .banner-section__inner {
    margin-top: 25px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .banner-section__slider {
    max-width: 100%;
  }

  .banner-section__slider-img {
    max-width: 100%;
    margin-bottom: 25px;
  }

  .banner-section__slider-item {
    text-align: center;
  }

  .banner-section__slider-btn {
    display: none;
  }
}

@media (max-width: $width-mobile) {
  .banner-section__slider-img {
    min-height: 200px;
  }

  .banner-section.container {
    padding: 0;
  }
}

@media (max-width: $width-breakpoint-440) {
  .banner-section__slider-img {
    min-height: 164px;
  }
}

