.catalog {
  margin-bottom: 100px;
}

.catalog__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: $main-text;
  margin-bottom: 26px;
}

.catalog__sorting {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.catalog__inner {
  display: flex;
}

.catalog__aside {
  display: block;
  min-width: 291px;
  margin-right: 10px;
}

.catalog__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.catalog__list .catalog__item {
  margin-bottom: 30px;
}

.catalog__pagination {
  width: 100%;
  margin-top: 70px;
}

.catalog__aside-btn {
  display: none;
}


@media (max-width: $width-mobile) {
  .catalog__inner {
    flex-wrap: wrap;
  }

  .catalog__aside-btn {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 15px 0 15px;
    width: 100%;
    color: $white;
    background-color: $blue;
    margin-bottom: 30px;
  }

  .catalog__list {
    justify-content: space-between;
    width: 100%;
  }
}

