.categories__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.categories__item {
  display: flex;
  justify-content: space-between;

  padding: 20px 20px 16px;
  margin-bottom: 30px;
  border: 1px solid $border-item;
  border-radius: 3px;
  width: 370px;
  transition: all 0.3s;
}

.categories__item:hover {
  box-shadow: 3px 3px 20px $hover-shadow;
  border: 1px solid transparent;
}

.categories__item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.categories__item-img {
  text-align: center;
  width: 50%;
}

.categories__item-img img {
  max-width: 100%;
}

.categories__item-title {
  font-family: 'Barlow', sans-serif;
  font-size: 23px;
  line-height: 28px;
  font-weight: bold;
  transition: all 0.3s;
}

.categories__item:hover .categories__item-title{
  color: $blue;
}

.categories__item-text {
  color: $text-lightgrey;
  font-size: 14px;
  line-height: 17px;
}

.categories__item-text::after {
  content: url('../img/link-arrow.svg');
  padding-left: 2px;
}

@media (max-width: $width-breakpoint-200) {
  .categories__inner {
    justify-content: space-around;
  }
}

@media (max-width: $width-breakpoint-440) {
  .categories__item {
    padding: 20px 10px 16px;
  }
}
