.footer {
  background-color: $bg-grey;
}

.footer__top {
  padding-top: 43px;
}

.footer__top-inner {
  display: flex;
  justify-content: space-between;
}

.footer__top-item--news {
  max-width: 315px;
}

.footer__top-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-right: 25px;
}

.footer__form {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
}

.footer__form-input {
  background-color: $white;
  border: none;
  line-height: 17px;
  font-size: 14px;
  padding: 0 12px;
}

.footer__form-input::placeholder {
  color: $text-lightgrey;
}

.footer__form-btn {
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.12em;

  text-transform: uppercase;
  padding: 10px 16px;
  border: none;
  background-color: $blue;
  color: $white;
}

.footer__list {
  font-size: 14px;
  line-height: 22px;
  display: block;
}

.footer__bottom {
  display: flex;
  justify-content: center;
  padding: 46px 0 22px;
}

.footer__bottom-link {
  line-height: 12px;
  color: $text-link;
  font-size: 10px;
  margin: 0 40px;
}

@media (max-width: $width-breakpoint-100) {
  .footer__top-inner {
    flex-wrap: wrap;
  }

  .footer__top-item {
    margin-bottom: 25px;
  }

  .footer__top-item + .footer__top-item {
    padding-left: 10px;
  }
}

@media (max-width: $width-mobile) {
  .footer__top-item {
    width: 100%;
    margin-bottom: 0;
  }

  .footer__top-item--news {
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
  }

  .footer__top-item.footer__top-item--news {
    border-top: none;
  }

  .footer__bottom {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__bottom-link {
    margin: 10px;
  }

  .footer__form-input {
    max-width: 190px;
  }

  .footer__list {
    display: none;
  }

  .footer__form {
    padding: 0 10px;
  }

  .footer__item {
    padding-left: 10px;
  }

  .footer__top-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    color: $text-footer;
    padding: 15px 10px;
    margin-right: 0;
  }

  .footer__top-item--news .footer__top-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: $main-text;
    border-bottom: none;
  }

  .footer {
    background-color: $bg-footer-mobile;
  }

  .footer__top.container {
    padding: 0;
  }

  .footer__top-item + .footer__top-item {
    padding-left: 0;
  }

  .footer__top-item {
    border-top: 2px solid $bg-grey;
  }

  .footer__topdrop {
    position: relative;
  }

  .footer__topdrop::after {
    content: '';
    background-image: url('../img/icon-arrow-down.svg');
    position: absolute;
    top: 21px;
    right: 15px;

    width: 15px;
    height: 21px;
  }

  .footer__topdrop--active::after {
    transform: rotate(180deg);
    top: 5px;
  }
}
