.menu__item {
  display: inline-block;
}

.menu__item + .menu__item{
  padding-left: 50px;
}

.menu-categories {
  background-color: $bg-grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 53px;
}

.menu-categories__link {
  transition: all 0.3s;
  padding: 15px 0 14px;
  font-weight: 400;
  position: relative;
}

.menu-categories__link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  left: auto;
  right: 0;
  bottom: -2px;
  background-color: $blue;
  transition: all 0.3s;
}

.menu-categories__link:hover {
  color: $black;
}

.menu-categories__link:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}

.menu__btn {
  display: none;
}

@media (max-width: $width-breakpoint-100) {
  .menu__item + .menu__item{
    padding-left: 20px;
  }
}

@media (max-width: $tablet-width) {
  .menu__list {
    display: none;
  }

  .menu__btn {
    display: block;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
  }

  .menu__btn-line {
    background: $main-text;
    border-radius: 3px;
    height: 3px;
    width: 34px;
    margin: 8px 0;
  }
}
