.product {
  margin-bottom: 80px;
}

.product__title {
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 25px;
}

.product__tabs-item {
  font-family: $main-font;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  padding-bottom: 10px;
}

.product__tabs-item + .product__tabs-item {
  margin-left: 50px;
}

.product__tabs {
  margin-bottom: 25px;
}

.product__tabs-item.tab--active {
  border-bottom: 2px solid $blue;
}

.product__slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  z-index: 5;
  cursor: pointer;
}

.product__slider-btnprev {
  left: -20px;
}

.product__slider-btnnext {
  right: -20px;
}

.product__slider-img {
  object-fit: cover;
  min-height: 400px;
}

.product__more-link {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  display: inline-block;
  padding: 16px 43px;
  background: $bg-grey;
}

.product__more {
  text-align: center;
  margin-top: 35px;
}

.product__slider .slick-dots{
  bottom: -30px;
}

.product__slider .slick-dots button{
  background-color: $text-lightgrey;
}

.product__slider .slick-dots .slick-active button{
  background-color: $blue;
}

@media (max-width: $width-breakpoint-300) {
  .product__more {
    margin-top: 60px;
  }
}

@media (max-width: $width-mobile) {
  .product__item {
    text-align: center;
  }
}

