.product-card {
  margin-bottom: 80px;
}


.product-card__inner {
  display: flex;
  justify-content: space-between;
}

.product-card__img-box {
  position: relative;
  width: 500px;
  padding-top: 35px;
  text-align: center;
  font-family: 'Barlow', sans-serif;
}

.product-card__content {
  width: 570px;
}

.product-card__price-old {
  display: inline-block;
  font-size: 30px;
  line-height: 44px;
  opacity: 0.6;

  background-image: url('../img/old-line.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.product-card__price-new {
  font-size: 40px;
  line-height: 48px;
  font-weight: bold;
  margin-bottom: 17px;
}

.product-card__link {
  display: inline-block;
  font-size: 15px;
  line-height: 18px;
  color: $blue;
}

.product-card__img-box.product-item--sale::before {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.12em;
  padding: 13px 24px;
  z-index: 3;
  border-radius: 3px;
}

.product-card__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  padding-bottom: 10px;
}

.product-card__code {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  opacity: 0.6;
  padding-bottom: 25px;
}

.product-card__buttons {
  display: flex;
  margin-bottom: 50px;
}

.product-card__buttons a {
  background-color: transparent;
  outline: none;
  border: none;
  margin-right: 30px;
}

.product-card__tabs-item {
  font-size: 20px;
  line-height: 24px;
  opacity: 0.6;
  margin-right: 35px;
  margin-bottom: 20px;
}

.product-card__tabs-item.tab--active {
  font-weight: bold;
  color: $main-text;
  opacity: 1;
}

.product-card__table {
  border-collapse: collapse;
  margin-bottom: 20px;
}

.product-card__tabs-item.tab--active span {
  display: inline-block;
  border-bottom: 2px solid $blue;
  padding-bottom: 5px;
}

.product-card__table .product-card__col-1 {
  width: 315px;
}

.product-card__table .product-card__col-2 {
  width: 125px;
}

.product-card__table td {
  border-bottom: 1px solid $table-border;
  padding: 5px 0;
}

.product-card__tab-more {
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: $blue;
  margin-bottom: 45px;
}

.product-card__btn button {
  font-size: 14px;
  line-height: 17px;
  background-color: $blue;
  color: $white;
  border: none;
  padding: 17px 53px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
}
