.tab-content {
  display: none;
}

.tab-content.tab-content--active {
  display: block;
}

.tabs-wrapper.tabs-wrapper--no-scroll {
  overflow-x: hidden;
}

@media (max-width: $tablet-width) {
  .tabs-wrapper {
    overflow-x: scroll;
  }

  .tabs-overflow {
    min-width: 685px;
  }
}

