.user {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.user__item {
  padding-right: 10px;
}

.user__link--basket {
  position: relative;
}

.user__basket-num {
  position: absolute;
  font-weight: 500;
  color: $white;
  font-size: 10px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  background-color: $blue;
  border-radius: 50%;
  text-align: center;
  bottom: -15px;
  right: -13px;
}
