$main-text: #2f3035;
$white: #ffffff;
$white--09: rgba(255, 255, 255, 0.9);
$black: #000000;
$blue: #1c62cd;
$bg-grey: #f0f0f4;
$bg-footer-mobile: #f9f9fc;
$border-item: #cdcdcd;
$border-input: #e0e0e0;
$border-select: #d7d9df;
$text-lightgrey: #c4c4c4;
$text-placeholder: #656464;
$text-footer: #7f7f7f;
$text-placeholder: #bdbec2;

$text-link: #48494d;
$hover-shadow: rgba(50, 50, 50, 0.25);
$hover-shadow-text: rgba(0, 0, 0, 0.2);
$menu-shadow: rgba(0, 0, 0, 0.15);
$menu-border: rgba(0, 0, 0, 0.1);
$table-border: rgba(47, 48, 53, 0.1);

$main-font: "SFProDisplay", "Arial", sans-serif;

$width-mobile: 640px;

$tablet-width: 968px;

$width-breakpoint-840: 840px;
$width-breakpoint-100: 1100px;
$width-breakpoint-200: 1200px;
$width-breakpoint-300: 1200px;
$width-breakpoint-440: 440px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// @media (max-width: $tablet-width) {

// }

// @media (max-width: $width-mobile) {

// }
